section {
    background: var(--bg-gradient);
    height: 100vh;
}

section h1 {
    color: var(--black-title);
}

mat-stepper {
    background-color: #ffffff00;
    width: 100%;
}

mat-form-field {
    width: 100%;
    max-width: 320px;
}

section>div {
    background-color: var(--bg-white);
    width: 90%;
    max-width: 900px;
    box-shadow: var(--box-shadow-primary)
}

a {
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 0 5px;
}

a i {
    font-size: 24px;
}

@media screen and (max-height: 360px) {
    section {
        height: 390px !important;
    }
}