section {
    background: var(--bg-gradient);
    height: 100vh;
}

div {
    background-color: var(--bg-white);
    width: 90%;
    max-width: 600px;
    box-shadow: var(--box-shadow-primary)
}

h1 {
    color: var(--black-title);
}