<section class="d-flex justify-content-center align-items-center">
    <div class="rounded-1 p-3 d-flex flex-column align-items-center">
        <h1>Nova senha</h1>

        <mat-stepper linear #stepper>
            <mat-step [stepControl]="reqfetchEmail" [editable]="isEditable">
                <form [formGroup]="reqfetchEmail">
                    <ng-template matStepLabel>E-mail cadastrado</ng-template>
                    <mat-form-field>
                        <mat-label>E-mail</mat-label>
                        <input type="email" matInput formControlName="user_email" placeholder="Ex. pat@example.com" required autocomplete="off">
                    </mat-form-field>
                    <div>
                        <app-spinner *ngIf="loadSpinner" size="28"></app-spinner>
                        <button (click)="fetchEmail()" *ngIf="!emalValid" class="btn btn-primary">Enviar código</button>
                        <button *ngIf="emalValid && !loadSpinner" class="btn btn-primary" matStepperNext >Proximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="reqCodePassword" [editable]="isEditable">
                <form [formGroup]="reqCodePassword">
                    <ng-template matStepLabel>Código enviado no e-mail</ng-template>
                    <mat-form-field>
                        <mat-label>Código</mat-label>
                        <input type="text" matInput formControlName="code" placeholder="Ex. tsFc5z" required>
                    </mat-form-field>
                    <div>
                        <app-spinner *ngIf="loadSpinner" size="28"></app-spinner>
                        <button (click)="comparePassword()" *ngIf="!codeValid && !loadSpinner" class="btn btn-primary" mat-button color="primary">Verificar código</button>
                        <button *ngIf="codeValid" class="btn btn-primary" mat-button matStepperNext color="primary">Proximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="newPassword" [editable]="isEditable">
                <form [formGroup]="newPassword">
                    <ng-template matStepLabel>Nova senha</ng-template>
                    <mat-form-field>
                        <mat-label>Nova senha</mat-label>
                        <input type="password" matInput formControlName="new_password" required>
                    </mat-form-field>

                    <br>
                    <mat-form-field>
                        <mat-label>confirmar senha</mat-label>
                        <input type="password" matInput formControlName="confirm_password" required>
                    </mat-form-field>
                    <div>
                        <app-spinner *ngIf="loadSpinner" size="28"></app-spinner>
                        <button *ngIf="passwordChek && !loadSpinner" (click)="updatePassword()" class="btn btn-primary">Alterar senha</button>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>

        <hr class="w-100">

        <a [routerLink]="['/login']">
            Voltar para login
            <i class="bi bi-box-arrow-in-left"></i>
        </a>
    </div>
    <app-alerts *ngFor="let alerts of alert" [type]="alerts.type" [description]="alerts.description"></app-alerts>
</section>