<section class="d-flex justify-content-center align-items-center">
    <form [formGroup]="formLogin" (ngSubmit)="submitForm()" class="d-flex flex-column align-items-center rounded-1 p-4">
        <img src="../../../assets//images/logo_1.png" alt="Logo Help Desk">

        <h2>Login</h2>

        <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input type="email" name="user_email" matInput placeholder="Ex. pat@example.com"
                formControlName="user_email" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Senha</mat-label>
            <input [type]="showPassword" name="user_password" formControlName="user_password" matInput>
            <!-- <app-icons (click)="viePassword()" [iconName]="eye" iconColor="#747474"></app-icons> -->
        </mat-form-field>

        <button class="btn btn-primary w-100 fs-5 d-flex justify-content-center align-items-center p-1">
            <span class="p-1" *ngIf="!loadSpinner">Entrar</span>
            <app-spinner class="p-1" *ngIf="loadSpinner" size="28" color="#ebebebe7"></app-spinner>
        </button>
        <hr>

        <div class="w-100">
            <a class="text-start" [routerLink]="['/nova-senha']">Esquecei minha senha</a>
        </div>

    </form>

    <app-alerts *ngFor="let alerts of alert" [type]="alerts.type" [description]="alerts.description"></app-alerts>
</section>