section {
    height: 100vh;
    background: var(--bg-gradient);
    background-size: cover;
    position: relative;
}

form {
    background-color: var(--bg-white);
    width: 90%;
    max-width: 350px;
    box-shadow: var(--box-shadow-primary);
}

form mat-form-field {
    position: relative;
}

form mat-form-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
    font-size: 24px;
}

form img {
    width: 100%;
    max-width: 130px;
}

form h2 {
    color: var(--black-title);
}

form a {
    text-decoration: none;
}

@media screen and (max-height: 461px) {
    section {
        height: 480px !important;
    }
}