<section class="d-flex justify-content-center align-items-center">
    <form class="d-flex flex-column align-items-center rounded-1 p-4">
        <img src="../../../assets//images/logo_1.png" alt="Logo Help Desk">

        <h2>Login</h2>

        <hr>

        <mat-form-field class="example-full-width w-100">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <mat-form-field class="example-full-width w-100">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <button class="btn btn-primary w-100">Entrar</button>

    </form>
</section>