<section class="d-flex position-relative">
    <nav>
        <img src="../../../assets//images//logo_3_dark.png" alt="Logo Help Desk">
        <ul>
            <li><i class="bi bi-graph-up-arrow"></i> Dashboard </li>
            <li><i class="bi bi-list-task"></i> Chamados </li>
            <li><i class="bi bi-chat"></i> Chat </li>
            <li><i class="bi bi-person-add"></i> Usuários </li>
            <li><i class="bi bi-person-gear"></i> Perfil </li>
            <hr class="m-0 w-100">
            <li><i class="bi bi-gear"></i> Configurações </li>
        </ul>
    </nav>
    <div class="w-100">
        <header>
            <div class="open_nav" title="Fechar navegação">
                <i class="bi bi-x"></i>
            </div>
    
            <div class="information">
                <div class="notifications">
                    <i class="bi bi-bell"></i>
                </div>
                <div class="separator"></div>
                <div class="user_contents">
                    <img src="../../../assets//images/not_image.png" alt="Usuário">
                </div>
            </div>
        </header>
        <main>
            
        </main>
        <footer>
            <p>© Help Desk 2023</p>
        </footer>
    </div>
</section>