/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--body-gray-light);
}

:root {
    /*  background colors */
    --bg-gradient: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    --bg-white: #ebebebe7;
    --body-gray-light: #ebebeb;
    --body-blue-dark: #0E2238;

    /* Box shadow */
    --box-shadow-primary: 0px 0px 15px 5px #0000002a;
    --box-shadow-alerts:  0px 6px 10px -1px #0000005b;

    /* Colors */
    --black-title: #504d4d;

    --white-primary: #ffffff;
    --white-secondary: #ebebeb93;

    --blue-primary: #2081BE;
    --blue-secondary: #5495F6;
}

/* Validations */
.invalid_field {
    border: 1px solid #ff6060 !important;
    background-color: #faa9a93b !important;
}